/**
    File: custom.css
    Author: Emma Hilborn (200282755)
    Date: Jan 31, 2017
    App description: A basic calculator web app done with JQuery Mobile & JavaScript
*/

.ui-content{
    width: 320px;
    margin: 0 auto;
}

#calcDisplay {
    text-align: right;
}

.ui-btn {
    height: 47px !important;
}

.btn-sm {
    width: 47px !important;
}

.btn-md {
    width: 127px !important;
}

.btn-lg {
    width: 207px !important;
}